.intro__club-text {
    font-size: $font-size--s;
    font-weight: $font-weight--regular;
    line-height: $line-height;
    text-transform: uppercase;
    grid-row: 1;
    grid-column: 1;
    text-align: center;
    position: relative;
    bottom: 50px;
    right: 14.6rem;
}

@media screen and (max-width: $screen--s) {
    .intro__club-text {
        right: 12.9rem;
    }
}

@media screen and (max-width: $screen--xs) {
    .intro__club-text {
        font-size: $font-size--xxs;
    }
}
