.battle__image {
    background-image: url(../../../../images/circle\ battle.svg);
    width: 22rem;
    height: 11rem;
    background-repeat: no-repeat;
    position: relative;
    right: 3rem;
    bottom: 0;
    background-size: contain;
}

@media screen and (max-width: $screen--s) {
    .battle__image {
        background-image: url(../../../../images/circle\ battle-tab.svg);
        width: 11rem;
        height: 11rem;
        right: 2.45rem;
    }
}
    
@media screen and (max-width: $screen--xs) {
    .battle__image {
        display: none;
    }
}