.intro__club {
    grid-row: 1;
    grid-column: 1;
    margin: 3rem 0 3.5rem 0;
    position: relative;
}

@media screen and (max-width: $screen--xs) {
    .intro__club {
        width: 3.15rem;
        height: 2rem;
        margin: 2.5rem 0 3rem 0;
    }
}
