.join__container {
    margin:0 0 0 5rem;
}

@media screen and (max-width: $screen--s) {
    .join__container {
        margin:0 0 0 1.85rem;
    }
}

@media screen and (max-width: $screen--xs) {
    .join__container {
        margin: 0 auto 0;
    } 
}