.intro__board-image {
    background-image: url(../../../../images/circle-desktop.png);
    grid-column: 2;
    grid-row: 1/5;
    margin: 3.5rem 0 0 0;
    justify-self: flex-end;
    height: 32rem;
    width: 23.95rem;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: $screen--s) {
    .intro__board-image {
        background-image: url(../../../../images/circle-tab.png);
        grid-row: 2/5;
        margin: 1.95rem 0 0 0;
        height: 26rem;
        width: 6.5rem;  
    }
}

@media screen and (max-width: $screen--xs) {
    .intro__board-image {
        background-image: url(../../../../images/circle-mob.png);
        grid-row: 1;
        grid-column: 2;
        margin: 2rem 1rem 0 0;
        width: 120px;
        height: 60px;
    }
}