.button {
    background-color: $color-button;
    border-radius: 0.4rem;
    width: 10.9rem;
    height: 2.4rem;
    border: none;
    padding: 0;
}

@media screen and (max-width: $screen--s) {
    .button {
        width: 9.2rem;
        height: 2.2rem;
    }
}

@media screen and (max-width: $screen--xs) {
    .button {
        width: 7rem;
        height: 1.5rem;
    }
}