.button__text {
    font-size: $font-size--xs;
    font-weight: $font-weight--semibold;
    line-height: $line-height--button;
    color: $color-text;
    padding: 0;
    text-align: center;
}

@media screen and (max-width: $screen--s) {
    .button__text {
        font-size: $font-size--xxs;
    }
}

@media screen and (max-width: $screen--xs) {
    .button__text {
        font-size: $font-size--xxxs;
    }
}