.cards {
    margin: 5.5rem 0 0 0;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

@media screen and (max-width: $screen--s) {
    .cards {
        margin: 7rem 0 0 0;
        gap: 1.4rem;
    }
}

@media screen and (max-width: $screen--xs) {
    .cards {
        margin: 3rem 0 0 0;
        gap: 1rem;
    }
}