.cards {
    margin: 110px 0 0 0;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

@media screen and (max-width: $screen--s) {
    .cards {
        margin: 140px 0 0 0;
        gap: 28px;
    }
}

@media screen and (max-width: $screen--xs) {
    .cards {
        margin: 60px 0 0 0;
        gap: 0;
    }
}