.card__name {
    text-transform: uppercase;
    font-size: $font-size--l;
    font-weight: $font-weight--normal;
    line-height: 1;
    letter-spacing: 0.9px;
    margin: 33px 0 18px 0;
}

@media screen and (max-width: $screen--xs) {
    .card__name {
        font-size: $font-size--m-min;
        margin: 22px auto 12px;
    }
}