.footer {
    display: flex;
    flex-direction: column;
    background-color: $color-violet;
    align-items: center;
    padding: 4rem 0 4rem 0;
}

@media screen and (max-width: $screen--xs) {
    .footer {
        padding: 2rem 0 2rem 0;
    }
}