.header__join {
    display: flex;
    gap: 0.65rem;
    align-items: center;
}

@media screen and (max-width: $screen--s) {
    .header__join {
        gap: 0.55rem;
    }
}

@media screen and (max-width: $screen--xs) {
    .header__join {
        display: none;
    }
}

