.footer__logo-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

@media screen and (max-width: $screen--xs) {
    .footer__logo-container {
        gap: 2rem;
    }
}